@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Sofia+Sans+Semi+Condensed:wght@300;400;500;600;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #080005;
    color: white;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    letter-spacing: 1.3px;
}

a {
    color: white;
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1240px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: #4924C2;
    border-radius: 20px;
    border: 2px solid black;
}

.circle-cursor {
    position: fixed;
    pointer-events: none;
    width: 0.8376rem;
    height: 0.8376rem;
    margin: -0.630rem 0 0 -0.630px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.circle-cursor-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.circle-cursor-top {
    background-color: #4924c284;
    transition: transform 0.06s cubic-bezier(.12, .12, .25, .92), opacity 1s ease;
    z-index: 9999;
}

.circle-cursor-bottom {
    background: #eb1a83a1;
    transition: transform 0.26s cubic-bezier(.12, .12, .25, .92), opacity 1s ease;
    z-index: 9998;
}

.btn {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
    border-radius: 34px;
    padding: 18px 40px;
    font-weight: 600;
    font-size: 19px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: fit-content;
    position: relative;
    z-index: 1;
}

.btn:before {
    top: 0;
    right: 0;
    z-index: -1;
    left: auto;
    width: 0%;
    height: 100%;
    content: "";
    position: absolute;
    border-radius: 34px;
    -webkit-transition: 500ms all ease;
    transition: 500ms all ease;
    background-size: 200%, 1px;
    background-image: linear-gradient(90deg, #EB1A82 0%, #4924C2 50%, #EB1A82);
}

.btn:hover:before {
    left: 0;
    right: auto;
    width: 100%;
}

.btn_dark {
    background: linear-gradient(90deg, #EB1A82 0%, #4924C2 50%, #EB1A82);
    border: none;
    transition-duration: 0.4s;
}

.title {
    font-size: 60px;
    margin-bottom: 50px;
}

.title span {
    font-weight: 600;
    background: linear-gradient(269.18deg, #4924C2 -9.55%, #EB1A82 118.48%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner__outer {
    position: relative;
    padding: 180px 0 100px 0;
}

.banner__outer:before {
    position: absolute;
    content: url(../img/home-decor.png);
    left: 0;
    bottom: 0;
}

.banner__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

.banner__content {
    position: relative;
}

.banner__title {
    font-size: 130px;
    margin-bottom: 30px;
}

.banner__words {
    display: inline-block;
    position: relative;
    text-align: left;
}

.banner__words b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.banner__words b.is-visible {
    position: relative;
}

.banner__words {
    -webkit-perspective: 300px;
    perspective: 300px;
}

b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    font-weight: 600;
    background: linear-gradient(269.18deg, #4924C2 -9.55%, #EB1A82 118.48%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Shadows Into Light Two', cursive;
}

b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: cd-rotate-1-in 1.2s;
    animation: cd-rotate-1-in 1.2s;
}

b.is-hidden {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -webkit-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
}

@keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -webkit-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}

.banner__text {
    margin-bottom: 45px;
    font-size: 24px;
}

.banner__button-block {
    display: flex;
    align-items: center;
    gap: 30px;
}

.banner__image {
    position: relative;
}

.banner__image::before {
    position: absolute;
    content: url(../img/home.png);
    left: -120px;
    top: -190px;
    animation: infinite banner 8s;
}

@keyframes banner {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.about__outer {
    padding-bottom: 100px;
}

.about__inner {
    display: grid;
    grid-template-columns: 0.55fr;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 19px;
}

.about__icon {
    min-width: 52px;
    height: 52px;
    border-radius: 100%;
    background: linear-gradient(269.18deg, #4924C2 -9.55%, #EB1A82 118.48%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__icon i {
    color: white;
}

.about__text {
    opacity: 0.6;
}

.live__outer {
    padding-bottom: 100px;
}

.live__block {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    gap: 50px;
}

.block {
    position: relative;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block:before {
    z-index: 0;
    content: "";
    width: 100%;
    opacity: 0.4;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    background: linear-gradient(269.18deg, #4924C2 -9.55%, #EB1A82 118.48%);
}

.block-inner {
    background-color: #080005;
    position: relative;
    padding: 30px;
    width: 100%;
}

.live__win {
    height: 459px;
}

.live__win-image {
    position: relative;
}

.live__win-image img {
    zoom: 0.9;
}

.live__win-image:after {
    position: absolute;
    content: url(../img/arrow-icon.png);
    right: 3px;
    top: 6px;
    background: black;
    border-radius: 100%;
    height: 23px;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live__win-item {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #301928;
    padding-bottom: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.live__win-item:hover {
    background: linear-gradient(269.18deg, #4924c228 -9.55%, #eb1a8329 118.48%);
}

.live__win-item:last-child {
    border: none;
    padding-bottom: 0;
}

.live__win-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    font-family: 'Shadows Into Light Two', cursive;
}

.live__win-price {
    font-weight: 500;
    color: #FFB816;
}

.live__comments-inner {
    height: 100%;
    position: relative;
}

.live__comments-inner.block-inner {
    padding: 0;
}

.live__comments-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(269.18deg, #4924C2 -9.55%, #EB1A82 118.48%);
}

.live__comments-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.live__comment-image {
    zoom: 0.45;
    opacity: 0.4;
}

.live__comment-info {
    width: 100%;
}

.live__comment-controll {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.live__comment-item {
    padding: 12px 30px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.live__comment-meta {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.3;
    font-size: 14px;
    width: 70px;
    justify-content: end;
}

.live__comments-list-inner {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: scroll;
}

.live__comment-name {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Shadows Into Light Two', cursive;
    background: linear-gradient(269.18deg, #4924C2 -9.55%, #EB1A82 118.48%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}

.live__comment-text {
    font-size: 16px;
    opacity: 0.8;
}

.live__comment-date {
    font-size: 14px;
    opacity: 0.15;
    text-align: right;
    letter-spacing: 2px;
}

.live__comments-form {
    padding: 20px;
    display: flex;
    gap: 30px;
}

textarea, input {
    outline: none;
    border-radius: 12px;
    padding: 15px;
}

.live__comments-form textarea {
    width: 100%;
}